.home {
  width: 100%;
  padding-top: 1em;

  h1 {
    margin-bottom: 25px;
  }

  .profile-photo {
    @include border-radius(100%);
    border: solid 5px $primary-color;
    width: 100%;
  }
}

.posts { 
  list-style-type: none;

  li {
    margin-bottom: 30px;
  }

  .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
  }

  .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
  }  
}
